body{
    background: #b4afaf;
}

#Tormenta{
    width: 100%;
}

h1{
    color: #ff4444;
    text-align: center;
}

h2{
    color: #f7610a;
    text-align: center;
}

#Mapa{
    width: 80%;
    padding-left: 150px;
}

h3{
    text-align: center;
}



